fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
Pillow
pypdf
opencv-python-headless
numpy
pytesseract
PyMuPDF
google-genai
groq
python-multipart
pytest-asyncio
# transformers
# accelerate
# torch
# sentencepiece